.container {
    width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    min-height: 100vh;
    background: -moz-linear-gradient(-45deg, rgba(48, 123, 150, 1) 0%, rgba(164, 100, 118, 1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(48, 123, 150, 1) 0%, rgba(164, 100, 118, 1) 100%);
	background: linear-gradient(135deg, rgba(48, 123, 150, 1) 0%, rgba(164, 100, 118, 1) 100%);
} 

.profile_picture {
    width: 210px;
	height: 210px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}


.profile_picture img {
    width: 200px;
    height: 200px;
}

.container h2 {
    font-size: 24px;
    margin: 32px 0 32px 0;
	text-transform: uppercase;
	color: #fff;
    padding: 0 0 12px 20px;
}

.container button {
    width: 200px;
    text-align: center;
    border: 3px white solid;
    border-radius: 5px;
    font-size: 25px;
    padding: 6px 0 2px 0;
    margin: 5px 0 20px 0;
    background-color: transparent;
    color: white;
    text-decoration: none;
}

.profile_picture .icon {
    padding-right: 5px;
    margin-bottom: -3px; 
    font-size: 25px;
}

.container button.portfolio:hover {
    color: black;
}

.portfolio:hover {
    background: white;
}

.container .linkedin:hover {
    background: #0077b5;
}

.container .github:hover {
    background: #211f21;
}

.container .instagram:hover {
    background: #ea0c5f;
}

@media screen and (min-width: 2500px) {
    .profile_picture img {
        width: 300px;
        height: 300px;
    }

    .profile_picture {
        width: 310px;
        height: 310px;
    }

    .container h2 {
        font-size: 35px;
    }

    .container button {
        width: 280px;
        border: 4px white solid;
        font-size: 40px;
    }
    
    .container .icon {
        font-size: 35px;
    }
}
